.carousel-image {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60%;
  max-height: 500px;
}

.resume-holder {
  overflow: auto;
  margin: auto;
  height: 80%;
  max-height: 1300px;
  width: 70%;
  max-width: 920px;
}